In [8]:
import pandas as pd
import scipy.stats as st

In [3]:
df=pd.read_csv('catalyst.csv')
df

   Catalyst1  Catalyst2
0      91.50      89.19
1      94.18      90.95
2      92.18      90.46
3      95.39      93.21
4      91.79      97.19
5      89.07      97.04
6      94.72      91.07
7      89.21      92.75

## Calculating Mean And Standard Deviation

In [4]:
mu1 , std1=df['Catalyst1'].mean() ,df['Catalyst1'].std()
mu1,std1

(92.25500000000001, 2.385018718105646)

In [5]:
mu2 , std2=df['Catalyst2'].mean() ,df['Catalyst2'].std()
mu2,std2

(92.73249999999999, 2.983453176629871)

## Number of Rows for Each catalyst

In [6]:
n1,n2=df['Catalyst1'].count() ,df['Catalyst2'].count()
n1,n2

(8, 8)

##

In [10]:
>>> st.ttest_ind(df['Catalyst1'],df['Catalyst2'])

Ttest_indResult(statistic=-0.3535908643461798, pvalue=0.7289136186068217)

Conclusions: Since -2.145<t0 =-0.35<2.145 , the null hypothesis cannot be rejected. That is at the  significance 0.5 level, we do not have strong evidence to conclude that catalyst2  results in a mean yield that differs from the mean yield when catalyst1  is used.